form {
	position: absolute;
	margin: 80px 0 60px 20vh;
	width: 400px;
	height: 550px;
	background: rgba(152, 136, 138, 0.7);
	border: 1px solid #46344E;
	border-radius: 2px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	color: #46344E;
}

.title-holder {
	text-align: center;
}

h2 {
	padding-bottom: 5px;
	border-bottom: 2px solid #46344E;
	font-family: Zilla Slab;
	font-style: normal;
	font-weight: bold;
}

input {
	height: 30px;
	width: 350px;
	margin: 5px 0;
	border-radius: 2px;
}

label {
	margin-top: 5px;
}

select {
	height: 30px;
	width: 350px;
	margin: 5px 0;
	border-radius: 2px;
}

.submit-btn {
	width: 120px;
	margin: auto;
	background: #5A5560;
	border: 1px solid #5A5560;
	box-sizing: border-box;
	height: 40px;
}

.submit-btn:hover {
	background: #faed26;
	color: #5A5560;
	font-weight: bold;
}