.table-details-section {
	display: flex;
	flex-grow: 2;
}

.table-container {
	margin: 80px 0 60px 15vh;
	width: 700px;
	min-height: 550px;
	background: rgba(152, 136, 138, 0.7);
	border: 1px solid #46344E;
	border-radius: 2px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	color: #46344E;
}

.table-header {
	display: flex;
}

h3 {
	font-family: Zilla Slab;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: #46344E;
	margin: 0;
}

.search-bar {
	margin-left: 150px;
}

thead {
	color: #FAED26;
}

table, tr, td{
	border-collapse: collapse;
	border: 1px solid #fff;
	padding: 20px;
}

table {
	margin: 20px;
}

tr {
	height: 50px;
}

.table-label {
	font-family: Zilla Slab;
	font-style: normal;
	font-weight: bold;
}
