.table-details-section {
	display: flex;
	flex-grow: 2;
}

.table-container {
	margin: 80px 0 60px 15vh;
	width: 650px;
	min-height: 550px;
	background: rgba(152, 136, 138, 0.7);
	border-radius: 2px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	color: #46344E;
	height: 700px;
	overflow-y: auto;
}

.table-header {
	display: flex;
}

h3 {
	font-family: Zilla Slab;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: #46344E;
	margin: 0;
}

.search-bar {
	margin-left: 90px;
}

th {
	color: #FAED26;
	font-size: 20px;
	background-color: #46344E;
}

table, tr, td{
	border-collapse: collapse;
	border: 1px solid #46344E;
	padding: 20px;
}

table {
	margin: 20px;
}

tr {
	height: 50px;
	padding: 5px;
	font-weight: bold;
}

.table-label {
	font-family: Zilla Slab;
	font-style: normal;
	font-weight: bold;
}

.name {
	width: 320px;
}

.size, .gender {
	width: 250px;
}

.view-details {
	width: 40px;
	padding: auto;
}
